@model PartyInvites.Models.Product

@{
    ViewBag.Title = "DemoExpression";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoExpression</title>
</head>
<body>
    <table>
        <thead>
            <tr><th>Property</th><th>Value</th></tr>
        </thead>
        <tbody>
            <tr><td>Name</td><td>@Model.Name</td></tr>
            <tr><td>Price</td><td>@Model.Price</td></tr>
            <tr><td>Stock Level</td><td>@Model.ProductId</td></tr>
        </tbody>
    </table>

    <div data-discount="@ViewBag.ApplyDiscount" dateexpress="@ViewBag.ExpressShip" data-supplier="@ViewBag.Supplier">
        The containing element has data attributes
    </div>
    Discount:<input type="checkbox" checked="@ViewBag.ApplyDiscount" />
    Express:<input type="checkbox" checked="@ViewBag.ExpressShip" />
    Supplier:<input type="checkbox" checked="@ViewBag.Supplier" />

    @switch ((int)ViewBag.ProductCount)
    {
        case 0:
            @: Out of Stock
            break;
        case 1:
            <b>Low Stock(@ViewBag.ProductCount)</b>
            break;
        default:
            @ViewBag.ProductCount
            break;
    }
</body>
</html>
